<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

  <div class="container">
    <div class="headingBox" style="margin-top: 32px;">
      <h1 id="heading">Contact</h1>
    </div>

    <div class="loginForm my-5 w-100">
      <p class="mb-3"><%= contactMessage %></p>
      <form action="/contact" method="post">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingUserName" name="userName" placeholder="Enter Your Name" required autocomplete="off">
          <label for="floatingUserName">Enter Your Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingUserMail" name="userMail" placeholder="Enter Your e-Mail (optional)" autocomplete="off">
          <label for="floatingUserMail">Enter Your e-Mail (optional)</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="floatingMessage" name="message" placeholder="Enter Your Message" required></textarea>
          <label for="floatingMessage">Enter Your Message</label>
        </div>
        <button class="btn btn-primary taskButton" type="submit" name="sendMessage">Send</button>
      </form>
    </div>
  </div>

<%- include("partials/footer") -%>
