<%- include("partials/header") -%>

<%- include("partials/navbar") -%>


<div id="landing">
  <div class="container">

    <h1 id="heading"></h1>
    <p class="m-5">Welcome to 2dooAgenda Calendar Event Application</p>
    <a class="loginButton btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Let's get things done
    </a>
    <div class="collapse loginForm" id="collapseExample">
      <p class="mb-3">Sign in to access your calendar</p>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <a class="btn btn-primary mb-3" href="/calendar/2021/03">Get Started</a>
      <p>Don't have an account?</p>
      <a href="/register">This link will take you where you can create one</a>
    </div>



  </div>


  <p class="credit">Photo by 戴 宇扬 from Pexels.</p>
</div>

<script src="/dom/home-clock.js" charset="utf-8"></script>
<%- include("partials/footer") -%>
